body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(223, 220, 220, 0.5);
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    color: white;
}
#container ul :nth-child(2){
    display: inline;
}
#container ul :nth-child(2) i{
    margin-left: 6px;
    color: rgb(255, 255, 255,0.7);
    transition: .5s ;
}
#container ul :nth-child(2):hover i{
    transform: rotate(180deg);
    color: white;
}
#son{
    display: none;
}
.w:hover #son{
    display: block;
}
#container :nth-child(2){
    display: flex;
    list-style-type: none;
    gap: 35px;
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 0;
}
#container ul li{
    position: relative;
    color: rgb(255, 255, 255,0.7);
    transition: .3s ;
}
#container ul :nth-child(1){
    color: white;
}
#container ul li:hover{
    cursor: pointer;
    color: white;
}
#container ul .not::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -8px;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}
#container ul li:hover::after{
    transform: scaleX(1);

}
#container h1{
    font-size: 25px;
    text-transform: capitalize;
    font-family: "Montserrat";
    position: relative;
}
#container h1:hover{
    cursor: pointer;
}
#container h1::after{
    content: "";
    position: absolute;
    background-color: rgb(33, 33, 253);
    width: 5px;
    height: 5px;
    bottom: 6px;
    border-radius: 50%;
}

/* -------------^ (Nav) ending ^-------------- */


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

/* -------------Beginning of (main)------------ */

.main img{
    width: 100%;
    filter: brightness(40%);
    position: relative;
    /* top: -70px; */
    height: 700px;
    object-fit: cover;
}

#main-p{
    position:absolute;
    text-align: center;
    top: 190px;
    left: 10%;
    right: 10%;
}
#main-p h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0;
    line-height: 58px;
}
#main-p p{
    color: white;
    font-size: 15px;
    line-height: 21px;
    opacity: 50%;
    margin-top: 10px;
    font-family: sans-serif;
}
#main-p-child{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}
#main-p-child button{
    padding: 18px 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    border: none;
    font-family: "Montserrat";
    transition: .2s ease-in-out;
}
#main-p-child button:hover{
    background-color: rgb(33, 33, 253);
    color: white;
    cursor: pointer;
}
#main-p-child h5{
    color: rgb(240, 240, 240);
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

/* -------------Ending of (main)----------- */





/* ---------------Beginning of (section 1)------------ */


#section{
    margin-top: 100px;
}
.next h1{
    font-size: 35px;
    text-transform: capitalize;
    color: #212529;
    font-family: "Montserrat";
}
.next p{
    font-size: 20px;
    color: #212529;
    line-height: 28px;
    font-family: "Open Sans";
}
.next{
    margin:0 23%;
    font-family: sans-serif;
    margin-bottom: 50px;
}
#about-boss{
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}
.about{
    background-color: white;
    padding: 25px 40px;
    width: 350px;
    height: 380px;
    font-family: "Open Sans";
}
.about #p1{
    font-size: 20px;
    line-height: 30px;
    color: #212529;
}
.about #p2{
    font-size: 14px;
    line-height: 21.5px;
    margin-bottom: 25px;
}
.about .ul p{
    padding-left: 15px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 20px;
}
.about .ul p::before{
    content: "";
    position: absolute;
    background-color: rgb(33, 33, 253);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 145px;
    margin-top: 7px;
}
.about-pics{
    display: flex;
    flex-flow: column;
}
.about-pics button{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans";
    background-color: white;
    padding: 16px 25px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: none;
    margin-bottom: 45px;
    width: 180px;
    transition: .5s;
}
.about-pics button:hover{
    color: white;
    background-color: rgb(33, 33, 253);
    cursor: pointer;
}
.about-pics button i{
    padding-left: 5px;
    font-size: 10px;
}
.about-pics img{
    width: 558px;
    height: 400px;
    object-fit: cover;
    border-radius: 3px;
    filter: brightness(90%);
}
.about-img img{
    width: 558px;
    border-radius: 3px;
    height: 400px;
    object-fit: cover;
}
#about-boss2{
    display: flex;
    justify-content: space-between;
}
.about-text{
    width: 450px;
    margin-top: 50px;
}
.about-text h1{
    text-transform: capitalize;
    margin-bottom: 0;
    color: #212529;
}
.about-text p{
    font-family: "Open Sans";
    font-size: 14px;
    color: #212529;
}
.about-text button{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans";
    background-color: white;
    padding: 16px 30px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
    transition: .5s;
}
.about-text button:hover{
    color: white;
    background-color: rgb(33, 33, 253);
    cursor: pointer;
}
.about-text button i{
    padding-left: 5px;
    font-size: 10px;
}


/* -------------Ending of (section 1)----------- */



/* --------------Beginning of (section 2)-------- */

.service{
    margin-top: 100px;
    margin-bottom: 80px;
}
.service h1{
    font-size: 35px;
    text-transform: capitalize;
    color: #212529;
    font-family: "Montserrat"
}
.service p{
    font-size: 14px;
    color: #212529;
    font-family: "Open Sans";
    width: 560px;
}
.hover{
    display: flex;
    gap: 0.6%;
}
.hover-son{
    padding: 15px 30px;
    background-color: white;
    display: inline;
    width: 18%;
    transition: .2s ease-in-out;
}
.hover-son p{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
    opacity: 40%;
}
.hover-son h3{
    margin-top: 32px;
    margin-bottom: 60px;
    text-transform: capitalize;
}
.hover-son i{
    font-size: 11px;
}
.hover-son:hover{
    background-color: rgb(33, 33, 253);
    color: white;
    transform: translateY(-5px);
}
.hover-son:hover p{
    opacity: 100%;
}

/* -----------Ending of (section 2)--------- */




/* ------------Beginning of (section 3)----------- */

#section3{
    margin-top: 110px;
}
.grid, .grid2{
    display: flex;
    width: 100%;
}
.blog{
    text-align: center;
    margin-bottom: 60px;
}
.blog h1{
    font-size: 35px;
    text-transform: capitalize;
    color: #212529;
}
.blog p{
    font-size: 14px;
    width: 545px;
    color: #212529;
    font-family: "Open Sans";
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}
.blog-img {
    width: 25%;
    height: 340px;
    object-fit: cover;
}
.blog-text{
    width: 25%; 
    background-color: white;
    padding: 15px 30px;
    height: 310px;
}
.blog-text h1{
    color: rgb(33, 33, 253);
    font-size: 21px;
}
.blog-text #pe1{
    text-transform: uppercase;
    font-size: 13px;
    opacity: 61%;
}
.blog-text #pe2{
    font-size: 15px;
    line-height: 20px;
    color: #212529;
    font-family: sans-serif;
}
.blog-text a{
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(33, 33, 253);
    font-family: sans-serif;
    font-weight: bold;
}

/* ------------Ending of (section 3)----------- */




/* ------------Beginning of (section 4)---------- */

#section4{
    margin-top: 220px;
}
.contact{
    background-color: white;
    padding: 60px 60px 38px 60px;
}
.row{
    display: flex;
    gap: 2%;
}
.contact input{
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    border: none;
    font-size: 17px;
    transition: .2s ease-in-out;
}
.contact input ::placeholder{
    top: 0;
}
.contact input:focus{
    background-color: white;
}
.row input{
    width: 32%;
    height: 50px;
    padding: 0 15px;
}
.comment{
    margin-top: 20px;
}
.comment #comment{
    width: 1000px;
    height: 300px;
    padding: 8px 13px;
    display: inline-block;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: rgb(194, 194, 194);
    transition: .2s ease-in-out;
    font-family: "Open Sans";
}
.comment #comment:focus{
    background-color: white;
}
.contact button{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans";
    background-color: rgb(33, 33, 253);
    color: white;
    padding: 16px 30px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
}
.contact button:hover{
    cursor: pointer;
}

/* -------------Ending of (section 4)---------- */




/* -------------Beginning of (section 5)---------- */

.section5{
    margin-top: 100px;
}
.section-child {
    display: flex;
}
.section-child img{
    width: 50%;
    height: 610px;
    object-fit: cover;
}
.final{
    width: 50%;
    padding: 120px;
}
.final h1{
    font-size: 33px;
    font-family: "Montserrat";
    text-transform: capitalize;
    color: #212529;
}
.final p{
    font-family: "Open Sans";
    font-size: 14px;
    color: #212529;
}
.final-icon{
    font-size: 14px;
    line-height: 2px;
}
.final-icon p{
    opacity: 50%;
    font-family: "Open Sans";
}
.final button{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans";
    background-color: rgb(33, 33, 253);
    color: white;
    padding: 16px 30px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: none;
    margin-top: 25px;
}
.check{
    display: flex;
    align-items: center;
    gap: 16px;
}
.check i{
    color: rgb(33, 33, 253);
}